{% extends 'base.html' %} {% block content %}

<main class="container py-5">
    
    <section class="card card-body">
        <h1 class="display-1 text-center">App tareas</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero deserunt sit
            sequi natus saepe laborum velit molestias nisi odio minus. Molestiae fuga hic
            dicta tenetur accusantium, impedit temporibus! Eveniet molestias, placeat
            laudantium dolor ducimus porro debitis ad accusamus rem doloremque! Fugiat qui
            ab unde dignissimos, aliquam perspiciatis nemo perferendis saepe. Voluptatibus
            facere neque vero rem, mollitia repellat amet temporibus nemo. Culpa commodi
            veritatis necessitatibus quis nisi velit, soluta voluptatum vero doloremque
            consectetur blanditiis ducimus cum quae architecto, in delectus saepe,
            quibusdam facilis similique eaque illum doloribus sunt pariatur accusamus.
            Optio quam modi maxime libero quidem molestiae mollitia voluptates, similique
            aut.
          </p>
          <div class=" text-center">
            <a class="btn btn-success" href="/signin/">
                signin
            </a>
            <a class="btn btn-success"  href="/signup/">
                signup
            </a>
          </div>    
          
      </section>
</main>
{% endblock %}
